.pagetitle {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 2fr;
 column-gap: 0px;
 border: solid 3px;
 background-color:#8A2BE2;
 width:device-width;
}
#name {
    color: #FFD700;
}
#logo {
    width: 10vw;
    height: auto;
}
.navs{
    margin-right: 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
}