
.pagetitle {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 2fr;
 column-gap: 1px;
 border: solid 3px;
 background-color:#8A2BE2;
 padding:10px
}
#name {
    color: #FFD700;
}
#logo {
    width: 7rem;
    height: auto;
}
.navs{
    margin-right: 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
}