div {
    width: 100%;
    height: 60vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 7, 7);
}
div >h1 {
    padding-top: 150px;;
    color: #1bbeb9;
    align-self: center;
    
}
#logo {
    display:flex;
    justify-content: center;
    align-self: center;
    width: 30vw;
    height: 30vh;
}
