
.pagetitle {
 display: flex;
 align-items: center; 
 border: solid 3px;
 background-color:#8A2BE2;
 padding:10px;
 height:25%;
}
#name {
    color: #FFD700;
}
#logo {
    width: 7rem;
    height: auto;
}
.navs{
    margin-right: 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#coming-soon-image {
    display:flex;
    z-index: 2;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}