
.pagetitle {
 display: flex;
 align-items: center; 
 border: solid 3px;
 background-color:#8A2BE2;
 padding:10px;
 height:25%;
}
#name {
    color: #FFD700;
}
#logo {
    width: 7rem;
    height: auto;
}
.navs{
    margin-right: 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#coming-soon-image {
    display:flex;
    z-index: 2;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
.maintenance-message {
  display: flex;
  padding-top:150px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #3a3a3a;
  background-size: cover;
  background: url(../assets/images/coming-soon.jpg) no-repeat center center/cover;
  z-index: 4;
}