h1 {
    text-align: center;
    margin-top:100px;
}
#name {
    color: #FFD700;
}
#logo {
    width: 7rem;
    height: auto;
    border-radius: 50%;
}
.navs{
    margin-right: 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#coming-soon-image {
    display:flex;
    z-index: 2;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}